* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  background-color: #1a1a1a;
  background: url("drumbg.png") center / cover no-repeat;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

main {
  height: 50%;
  width: 80%;
}

h1,
p {
  color: antiquewhite;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.btn {
  background: rgba(36, 35, 35, 0.566);
  color: aliceblue;
  width: 100px;
  backdrop-filter: blur(0.2rem);
  border: solid rgba(36, 35, 35, 0.767);
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
  /* margin: ; */
}

.btn span {
  display: block;
  font-weight: 900;
  margin-bottom: 5px;
}

#btns {
  margin-top: 4rem;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.btn-clicked {
  transform: scale(0.9);
  border-color: rgba(160, 95, 95, 0.977);
}